<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>about</key>
	<string>Based on a synth input device by Elliot Clapp.</string>
	<key>fluxalodeon_version</key>
	<integer>1</integer>
	<key>accelerometer_enabled</key>
	<false/>
	<key>group</key>
	<integer>1</integer>
	<key>help</key>
	<string>Use common sense.</string>
	<key>instrument_id</key>
	<integer>1</integer>
	<key>interactive_inputs</key>
	<array>
		<dict>
			<key>height</key>
			<integer>150</integer>
			<key>input_id</key>
			<string>pad1</string>
			<key>input_type</key>
			<integer>14</integer>
			<key>linked_to_output</key>
			<integer>0</integer>
			<key>linked_to_seq_bpm</key>
			<integer>0</integer>
			<key>linked_to_seq_length</key>
			<integer>0</integer>
			<key>max</key>
			<integer>1</integer>
			<key>min</key>
			<integer>0</integer>
			<key>patch_input</key>
			<string>devnull</string>
			<key>touch_patch_inputx1</key>
			<string>feedbake_1</string>
			<key>touch_patch_inputy1</key>
			<string>feedbake_2</string>
			<key>scale</key>
			<integer>1</integer>
			<key>sequenced_by</key>
			<integer>0</integer>
			<key>start_angle</key>
			<integer>0</integer>
			<key>state</key>
			<integer>0</integer>
			<key>step</key>
			<integer>1</integer>
			<key>step_num</key>
			<integer>0</integer>
			<key>sweep_angle</key>
			<integer>0</integer>
			<key>value</key>
			<integer>0</integer>
			<key>value2</key>
			<integer>0</integer>
			<key>value3</key>
			<integer>0</integer>
			<key>width</key>
			<integer>150</integer>
			<key>x</key>
			<integer>80</integer>
			<key>y</key>
			<integer>240</integer>
		</dict>
		<dict>
			<key>height</key>
			<integer>150</integer>
			<key>input_id</key>
			<string>pad2</string>
			<key>input_type</key>
			<integer>14</integer>
			<key>linked_to_output</key>
			<integer>0</integer>
			<key>linked_to_seq_bpm</key>
			<integer>0</integer>
			<key>linked_to_seq_length</key>
			<integer>0</integer>
			<key>max</key>
			<integer>1</integer>
			<key>min</key>
			<integer>0</integer>
			<key>patch_input</key>
			<string>devnull</string>
			<key>touch_patch_inputx1</key>
			<string>feedbake_3</string>
			<key>touch_patch_inputy1</key>
			<string>feedbake_4</string>
			<key>scale</key>
			<integer>1</integer>
			<key>sequenced_by</key>
			<integer>0</integer>
			<key>start_angle</key>
			<integer>0</integer>
			<key>state</key>
			<integer>0</integer>
			<key>step</key>
			<integer>1</integer>
			<key>step_num</key>
			<integer>0</integer>
			<key>sweep_angle</key>
			<integer>0</integer>
			<key>value</key>
			<integer>0</integer>
			<key>value2</key>
			<integer>0</integer>
			<key>value3</key>
			<integer>0</integer>
			<key>width</key>
			<integer>150</integer>
			<key>x</key>
			<integer>400</integer>
			<key>y</key>
			<integer>240</integer>
		</dict>
		<dict>
			<key>height</key>
			<integer>150</integer>
			<key>input_id</key>
			<string>pad3</string>
			<key>input_type</key>
			<integer>14</integer>
			<key>linked_to_output</key>
			<integer>0</integer>
			<key>linked_to_seq_bpm</key>
			<integer>0</integer>
			<key>linked_to_seq_length</key>
			<integer>0</integer>
			<key>max</key>
			<integer>1</integer>
			<key>min</key>
			<integer>0</integer>
			<key>patch_input</key>
			<string>devnull</string>
			<key>touch_patch_inputx1</key>
			<string>feedbake_5</string>
			<key>touch_patch_inputy1</key>
			<string>feedbake_6</string>
			<key>scale</key>
			<integer>1</integer>
			<key>sequenced_by</key>
			<integer>0</integer>
			<key>start_angle</key>
			<integer>0</integer>
			<key>state</key>
			<integer>0</integer>
			<key>step</key>
			<integer>1</integer>
			<key>step_num</key>
			<integer>0</integer>
			<key>sweep_angle</key>
			<integer>0</integer>
			<key>value</key>
			<integer>0</integer>
			<key>value2</key>
			<integer>0</integer>
			<key>value3</key>
			<integer>0</integer>
			<key>width</key>
			<integer>150</integer>
			<key>x</key>
			<integer>80</integer>
			<key>y</key>
			<integer>80</integer>
		</dict>
		<dict>
			<key>height</key>
			<integer>150</integer>
			<key>input_id</key>
			<string>pad4</string>
			<key>input_type</key>
			<integer>14</integer>
			<key>linked_to_output</key>
			<integer>0</integer>
			<key>linked_to_seq_bpm</key>
			<integer>0</integer>
			<key>linked_to_seq_length</key>
			<integer>0</integer>
			<key>max</key>
			<integer>1</integer>
			<key>min</key>
			<integer>0</integer>
			<key>patch_input</key>
			<string>devnull</string>
			<key>touch_patch_inputx1</key>
			<string>feedbake_7</string>
			<key>touch_patch_inputy1</key>
			<string>feedbake_8</string>
			<key>scale</key>
			<integer>1</integer>
			<key>sequenced_by</key>
			<integer>0</integer>
			<key>start_angle</key>
			<integer>0</integer>
			<key>state</key>
			<integer>0</integer>
			<key>step</key>
			<integer>1</integer>
			<key>step_num</key>
			<integer>0</integer>
			<key>sweep_angle</key>
			<integer>0</integer>
			<key>value</key>
			<integer>0</integer>
			<key>value2</key>
			<integer>0</integer>
			<key>value3</key>
			<integer>0</integer>
			<key>width</key>
			<integer>150</integer>
			<key>x</key>
			<integer>400</integer>
			<key>y</key>
			<integer>80</integer>
		</dict>
		<dict>
			<key>height</key>
			<integer>150</integer>
			<key>input_id</key>
			<string>pot1</string>
			<key>input_type</key>
			<integer>1</integer>
			<key>linked_to_output</key>
			<integer>0</integer>
			<key>linked_to_seq_bpm</key>
			<integer>0</integer>
			<key>linked_to_seq_length</key>
			<integer>0</integer>
			<key>max</key>
			<integer>1</integer>
			<key>min</key>
			<integer>0</integer>
			<key>patch_input</key>
			<string>feedbake_osc1</string>
			<key>scale</key>
			<integer>1</integer>
			<key>sequenced_by</key>
			<integer>0</integer>
			<key>start_angle</key>
			<integer>0</integer>
			<key>state</key>
			<integer>0</integer>
			<key>step</key>
			<integer>1</integer>
			<key>step_num</key>
			<integer>0</integer>
			<key>sweep_angle</key>
			<integer>0</integer>
			<key>value</key>
			<integer>0</integer>
			<key>value2</key>
			<integer>0</integer>
			<key>value3</key>
			<integer>0</integer>
			<key>width</key>
			<integer>150</integer>
			<key>x</key>
			<integer>190</integer>
			<key>y</key>
			<integer>209</integer>
		</dict>
		<dict>
			<key>height</key>
			<integer>150</integer>
			<key>input_id</key>
			<string>pot2</string>
			<key>input_type</key>
			<integer>1</integer>
			<key>linked_to_output</key>
			<integer>0</integer>
			<key>linked_to_seq_bpm</key>
			<integer>0</integer>
			<key>linked_to_seq_length</key>
			<integer>0</integer>
			<key>max</key>
			<integer>1</integer>
			<key>min</key>
			<integer>0</integer>
			<key>patch_input</key>
			<string>feedbake_osc2</string>
			<key>scale</key>
			<integer>1</integer>
			<key>sequenced_by</key>
			<integer>0</integer>
			<key>start_angle</key>
			<integer>0</integer>
			<key>state</key>
			<integer>0</integer>
			<key>step</key>
			<integer>1</integer>
			<key>step_num</key>
			<integer>0</integer>
			<key>sweep_angle</key>
			<integer>0</integer>
			<key>value</key>
			<integer>0</integer>
			<key>value2</key>
			<integer>0</integer>
			<key>value3</key>
			<integer>0</integer>
			<key>width</key>
			<integer>150</integer>
			<key>x</key>
			<integer>292</integer>
			<key>y</key>
			<integer>209</integer>
		</dict>
		<dict>
			<key>height</key>
			<integer>150</integer>
			<key>input_id</key>
			<string>hold</string>
			<key>input_type</key>
			<integer>3</integer>
			<key>linked_to_output</key>
			<integer>0</integer>
			<key>linked_to_seq_bpm</key>
			<integer>0</integer>
			<key>linked_to_seq_length</key>
			<integer>0</integer>
			<key>max</key>
			<integer>1</integer>
			<key>min</key>
			<integer>0</integer>
			<key>patch_input</key>
			<string>feedbake_hold</string>
			<key>scale</key>
			<integer>1</integer>
			<key>sequenced_by</key>
			<integer>0</integer>
			<key>start_angle</key>
			<integer>0</integer>
			<key>state</key>
			<integer>0</integer>
			<key>step</key>
			<integer>1</integer>
			<key>step_num</key>
			<integer>0</integer>
			<key>sweep_angle</key>
			<integer>0</integer>
			<key>value</key>
			<integer>0</integer>
			<key>value2</key>
			<integer>0</integer>
			<key>value3</key>
			<integer>0</integer>
			<key>width</key>
			<integer>55</integer>
			<key>x</key>
			<integer>242</integer>
			<key>y</key>
			<integer>55</integer>
		</dict>
	</array>
	<key>name</key>
	<string>NoiseKit</string>
	<key>orientation</key>
	<string>1</string>
	<key>patch_name</key>
	<string>pd-noisekit.pd</string>
	<key>sequences</key>
	<array/>
	<key>type</key>
	<integer>1</integer>
</dict>
</plist>
